/* Main Style Sheet */

/* Global */
body {
  background: #B3CEE6;
}
img {
  width: 20%;
}
/* Typography */
/* Homepage */
/* Navigation */
nav a {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
}
/* Bio */
/* Resume */
/* Portfolio */
/* Footer */
